.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: clip;
}

.site-canvas {
  min-height: 100vh;
}

.site-main {
  flex: 1;
  position: relative;
  z-index: 1;
}
